.Cardpadding-25
    padding: 25px !important

.Rolepermission-14
    margin: 14px 14px 0

.countryselectborder
    padding: 15px;
    outline: 1px solid #ddd
    width: 100%

.regionselectborder
    padding: 15px;
    outline: 1px solid #ddd
    background: #fff
    width: 100%

.footertxt 
    font-size: 12px

.removebtn_counsellor 
    margin-top: -32px