.Cardpadding-25
    padding: 25px !important

.Rolepermission-14
    margin: 14px 14px 0;

.countryselectborder
    padding: 15px;
    outline: 1px solid #ddd;

.regionselectborder
    padding: 15px;
    outline: 1px solid #ddd;
    width: 210px;
    background: #fff;
    margin-left: 60px;